/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

!/[Aa]ssets/**/*.meta

[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
.gradle/

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

crashlytics-build.properties

/Recordings/
/.idea/
/Assets/Fonts/
/Assets/Fonts.meta
/Assets/Plugins/
/Assets/Plugins.meta
/Assets/Resources/
/Assets/Resources.meta